1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [1]:
import pandas as pd
from pandas import Series

In [2]:
obj1 = Series([1,2,3,4,5])
obj1

0    1
1    2
2    3
3    4
4    5
dtype: int64

2 Write a Python program to convert a Panda module Series to Python list and it's type

In [3]:
type(obj1)

pandas.core.series.Series

In [9]:
obj2 = obj1.tolist()
obj2

[1L, 2L, 3L, 4L, 5L]

In [10]:
type(obj2)

list

3 Write a Python program to add, subtract, multiple and divide two Pandas Series. Go to the editor
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [11]:
s1 = Series([2,4,6,8,10])

In [12]:
s2 = Series([1,3,5,7,9])

In [13]:
s1+s2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [14]:
s1-s2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [15]:
s1*s2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [16]:
s1/s2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4 Write a Python program to get the largest integer smaller or equal to the division of the inputs.

In [18]:
s1[s1>s2]

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [19]:
s1[s1<s2]

Series([], dtype: int64)

In [20]:
s1[s1==s2]

Series([], dtype: int64)

In [21]:
s1>s2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [22]:
type(s1>s2)

pandas.core.series.Series