In [1]:
import numpy as np

In [2]:
import pandas as pd
from pandas import Series, DataFrame

the above is to avoid writing out the full pd.Series, pd.DataFrame all the time.

create a series below
series is like array in numpy, except it has data labels so it is indexed.

In [3]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

each value is indexed

In [4]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

create a series with an index specified

In [12]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index = ['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [9]:
ww2_cas['USA'] # show value based on index

400000

In [13]:
#Check which countries had cas greater than 4m?
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [14]:
# ordered dictionary
'USSR' in  ww2_cas

True

In [16]:
# turn series into dictionary
ww2_dict=ww2_cas.to_dict()

In [17]:
ww2_dict

{'China': 3000000L,
 'Germany': 4300000L,
 'Japan': 2100000L,
 'USA': 400000L,
 'USSR': 8700000L}

In [18]:
ww2_series = Series(ww2_dict) # feed dictionary into Series

In [19]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [20]:
countries = ['China','Germany','Japan','USA','USSR','Argentina'] # make a list

In [21]:
countries # a list

['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [22]:
obj2 = Series(ww2_dict, index = countries)

In [24]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [25]:
pd.isnull(obj2) # builtin function to check for nulls

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [26]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [27]:
ww2_series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [28]:
# add series to series, automatically align by index
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [29]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [30]:
obj2.name = 'World War 2 Casualties' #naming series

In [31]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [32]:
# naming index
obj2.index.name = 'Countries'

In [33]:
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

[3000000.0, 4300000.0, 2100000.0, 400000.0, 8700000.0, nan]

pandas.core.series.Series

list