In [3]:
import numpy as np

In [26]:
import pandas as pd
from pandas import Series, DataFrame

In [5]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'

In [6]:
webbrowser.open(website)

True

copy from the website the first 5 rows of the table

#1 Select text on the website by clicking on the lower-right corner of the table, dragging/selecting to the upper left to include Rank, and then right-click and select Copy.

#2 In jupyter, run the following: nfl_frame = pd.read_clipboard(engine='python', sep='\t+')

In [7]:
nfl_frame = pd.read_clipboard()
#panda has a builtin function to read all in clipboard

In [13]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North

In [14]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [8]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [9]:
nfl_frame.Team

0     Dallas
1      Green
2    Chicago
3      Miami
4        New
Name: Team, dtype: object

In [8]:
# call column with spaces in the name
nfl_frame['First NFL Season']

0    1960
1    1921
2    1920
3    1966
4    1960
5    1961
Name: First NFL Season, dtype: int64

In [9]:
#grab multiple columns
DataFrame(nfl_frame,columns = ['Rank','Team','Won','Lost'])

   Rank                     Team  Won  Lost
0     1           Dallas Cowboys  502   374
1     2        Green Bay Packers  737   562
2     3            Chicago Bears  749   579
3     4           Miami Dolphins  445   351
4     5  New England Patriots[b]  489   386
5     6        Minnesota Vikings  470   390

In [10]:
# when call a nonexistent column in the dataframe, python will fill it with nan's
DataFrame(nfl_frame,columns = ['Rank','Team','Won','Lost','Stadium'])

   Rank                     Team  Won  Lost  Stadium
0     1           Dallas Cowboys  502   374      NaN
1     2        Green Bay Packers  737   562      NaN
2     3            Chicago Bears  749   579      NaN
3     4           Miami Dolphins  445   351      NaN
4     5  New England Patriots[b]  489   386      NaN
5     6        Minnesota Vikings  470   390      NaN

In [18]:
# retrieve head and tail rows. default is 5 rows
nfl_frame.head(2)
nfl_frame.head()
nfl_frame.tail(3)
nfl_frame.tail()

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North
6,7,Baltimore Ravens,190,161,1,0.541,1996,352,AFC North

In [26]:
# retrieve a particular row by index
# ix is deprecated.
# use loc or iloc
nfl_frame.loc[3]
#nfl_frame.iloc[3]

Rank                             4
Team                Miami Dolphins
Won                            445
Lost                           351
Tied                             4
Pct.                         0.559
First NFL Season              1966
Total Games                    800
Division                  AFC East
Name: 3, dtype: object

In [12]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [13]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,Levi's Stadium
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,Levi's Stadium
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,Levi's Stadium
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,Levi's Stadium
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,Levi's Stadium
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North,Levi's Stadium

In [14]:
nfl_frame['Stadium'] = np.arange(6)

In [15]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,0
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,1
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,2
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,3
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,4
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North,5

In [16]:
# add a series to the data frame
stadiums = Series(["Levi's Stadium","AT'T Stadium"],index= [5,0])

In [17]:
stadiums

5    Levi's Stadium
0      AT'T Stadium
dtype: object

In [18]:
nfl_frame['Stadium'] = stadiums

In [19]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East,AT'T Stadium
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North,NaN
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North,NaN
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East,NaN
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East,NaN
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North,Levi's Stadium

In [20]:
# delete entire column
del nfl_frame['Stadium','Rank']

KeyError: ('Stadium', 'Rank')

In [21]:
del nfl_frame['Stadium']

In [22]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,502,374,6,0.573,1960,882,NFC East
1,2,Green Bay Packers,737,562,37,0.565,1921,"1,336",NFC North
2,3,Chicago Bears,749,579,42,0.562,1920,"1,370",NFC North
3,4,Miami Dolphins,445,351,4,0.559,1966,800,AFC East
4,5,New England Patriots[b],489,386,9,0.558,1960,884,AFC East
5,6,Minnesota Vikings,470,390,10,0.546,1961,870,NFC North

In [23]:
# passing in dictionary to make a dataframe
# make a dictionary first
data={'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}

In [24]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [27]:
city_frame = DataFrame(data)

In [28]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [37]:
# all the ways to make a data frame
website2 = 'http://pandas-docs.github.io/pandas-docs-travis/'

In [38]:
webbrowser.open(website2)

True