In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index =['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
# reindex
# add more indices
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
# add more indices
ser2.reindex(['A','B','C','D','E','F','G'],fill_value =0)
# instead of passing nan to the new index G, it passes 0

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
ser3 = Series(['USA','Mexico','Canada'],index =[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
#ser3.reindex()
ranger = range(15)

In [10]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
ser3.reindex(ranger,method='ffill') 
# 'ffill' stands for forward fill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [17]:
#reindex dataframe 
#make a data frame


dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','D','E','F'],
                   columns =['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.313827 -1.138024 -1.964885 -2.438370  1.467504
B -1.131853  0.743397 -0.172491  0.420526  1.106841
D -1.596236  0.055048  0.335816  2.297903  0.429299
E  1.859085 -0.329877  2.181406  0.042459  0.817756
F  0.374059 -0.519856 -0.710734 -0.443548 -0.901934

In [24]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.313827 -1.138024 -1.964885 -2.438370  1.467504
B -1.131853  0.743397 -0.172491  0.420526  1.106841
C       NaN       NaN       NaN       NaN       NaN
D -1.596236  0.055048  0.335816  2.297903  0.429299
E  1.859085 -0.329877  2.181406  0.042459  0.817756
F  0.374059 -0.519856 -0.710734 -0.443548 -0.901934

In [25]:
#reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A  0.313827 -1.138024 -1.964885 -2.438370  1.467504   NaN
B -1.131853  0.743397 -0.172491  0.420526  1.106841   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.596236  0.055048  0.335816  2.297903  0.429299   NaN
E  1.859085 -0.329877  2.181406  0.042459  0.817756   NaN
F  0.374059 -0.519856 -0.710734 -0.443548 -0.901934   NaN

In [26]:
dframe

       col1      col2      col3      col4      col5
A  0.313827 -1.138024 -1.964885 -2.438370  1.467504
B -1.131853  0.743397 -0.172491  0.420526  1.106841
D -1.596236  0.055048  0.335816  2.297903  0.429299
E  1.859085 -0.329877  2.181406  0.042459  0.817756
F  0.374059 -0.519856 -0.710734 -0.443548 -0.901934

In [29]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

C:\Users\Bingxin\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A  0.313827 -1.138024 -1.964885 -2.438370  1.467504   NaN
B -1.131853  0.743397 -0.172491  0.420526  1.106841   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.596236  0.055048  0.335816  2.297903  0.429299   NaN
E  1.859085 -0.329877  2.181406  0.042459  0.817756   NaN
F  0.374059 -0.519856 -0.710734 -0.443548 -0.901934   NaN