In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [ ]:
a = [[1,1,1,2,2,2],['a','b','c','a','b','c']]

In [10]:
ser = Series(randn(6),index = a)
ser

1  a   -0.529925
   b   -0.962173
   c    1.813582
2  a    1.199683
   b    0.216147
   c    0.763100
dtype: float64

In [11]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [12]:
ser2 = Series(randn(6))
ser2

0    0.720514
1    1.028994
2    0.893653
3   -0.996463
4   -0.063901
5   -0.108050
dtype: float64

In [13]:
ser2.index

RangeIndex(start=0, stop=6, step=1)

In [14]:
ser[1]

a   -0.529925
b   -0.962173
c    1.813582
dtype: float64

In [15]:
ser2[1]

1.0289944045295598

In [17]:
ser[:,'a']

-0.529924614408551

In [18]:
#create a dataframe from a multilevel series
dframe = ser.unstack()

In [19]:
dframe # returns a 2D frame, row = (1,2), columns = (a,b,c)

          a         b         c
1 -0.529925 -0.962173  1.813582
2  1.199683  0.216147  0.763100

In [20]:
#create a multilevel series from a dataframe
dframe.unstack() #notice the column labels become the first level of  index

a  1   -0.529925
   2    1.199683
b  1   -0.962173
   2    0.216147
c  1    1.813582
   2    0.763100
dtype: float64

In [24]:
self = np.arange(16).reshape((4,4))

In [25]:
#multilevel indexing on a dataframe
dframe2 = DataFrame(self, index= [['a','a','b','b'],[1,2,1,2]],
                   columns = [['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [26]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [31]:
# adding names to row indices
dframe2.index.names = ['Index1','Index2']

In [32]:
dframe2.index
#dframe2.columns

MultiIndex(levels=[[u'a', u'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=[u'Index1', u'Index2'])

In [33]:
dframe2.columns.names =['Cities','Temp']

In [34]:
dframe2.columns

MultiIndex(levels=[[u'LA', u'NY', u'SF'], [u'cold', u'hot']],
           labels=[[1, 1, 0, 2], [0, 1, 1, 0]],
           names=[u'Cities', u'Temp'])

In [36]:
dframe2.swaplevel('Cities','Temp',axis =1)

Temp          cold hot     cold
Cities          NY  NY  LA   SF
Index1 Index2
a      1         0   1   2    3
       2         4   5   6    7
b      1         8   9  10   11
       2        12  13  14   15

In [37]:
dframe2

Cities          NY      LA   SF
Temp          cold hot hot cold
Index1 Index2
a      1         0   1   2    3
       2         4   5   6    7
b      1         8   9  10   11
       2        12  13  14   15

In [46]:
dframe2.sort_index(1) # sortlevel(1) sort by index2

Cities         LA   NY       SF
Temp          hot cold hot cold
Index1 Index2
a      1        2    0   1    3
       2        6    4   5    7
b      1       10    8   9   11
       2       14   12  13   15

In [47]:
dframe

          a         b         c
1 -0.529925 -0.962173  1.813582
2  1.199683  0.216147  0.763100

In [48]:
dframe.sum()

a    0.669758
b   -0.746026
c    2.576682
dtype: float64

In [49]:
dframe.sum(axis=1)

1    0.321484
2    2.178930
dtype: float64

In [52]:
# operations on index levels
# levels -- keep the level where summation is operated on
# axis= 1 -- sum by column
dframe2.sum(level = 'Cities',axis =1)

Cities         NY  LA  SF
Index1 Index2
a      1        1   2   3
       2        9   6   7
b      1       17  10  11
       2       25  14  15

In [53]:
dframe

          a         b         c
1 -0.529925 -0.962173  1.813582
2  1.199683  0.216147  0.763100

In [56]:
dframe.rename(index ={0:'A',1:'B'},inplace = True )

In [58]:
dframe2

Cities          NY      LA   SF
Temp          cold hot hot cold
Index1 Index2
a      B         0   1   2    3
       2         4   5   6    7
b      B         8   9  10   11
       2        12  13  14   15