In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
# import and outport data files for pandas.dataframe

#find where all the ipython notebook files are saved thru the terminal
# C:\Users\Bingxin\Anaconda2
# made a csv file from notepad and saved it there
dframe = pd.read_csv('lec25.csv')

In [4]:
dframe
#first row is set as the column name
# comma is used as a delimiter

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  6     dog

In [6]:
dframe = pd.read_csv('lec25.csv',header=None) 
#no header in source csv file

In [7]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  6     dog

In [8]:
# more general way
dframe = pd.read_table('lec25.csv',sep=',',header = None)

In [9]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  6     dog

In [10]:
# indicate specific # of rows to be read in
pd.read_csv('lec25.csv',header = None,nrows =2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [11]:
# output a data frame
dframe.to_csv('mytextdata_out.csv')

In [12]:
import sys

In [13]:
# see output directly, not save
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,6,dog

In [14]:
dframe.to_csv(sys.stdout,sep = '_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_6_dog

In [15]:
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?6?dog

In [16]:
# subset columns and save out
dframe.to_csv(sys.stdout,columns = [0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [17]:
# tons of built in methods to read csv
# https://docs.python.org/2/library/csv.html

In [26]:
# read in text file from a specific location
path =r'C:\\Users\\Bingxin\\Documents\\Udemy\\Python\\'

In [27]:
dframe2 = pd.read_csv(path+'lec25.csv')

In [28]:
dframe2

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  6     dog