In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:

# what is JSON?
import webbrowser
website = 'http://j796160836.pixnet.net/blog/post/30530326-%E7%9E%AD%E8%A7%A3json%E6%A0%BC%E5%BC%8F'
webbrowser.open(website)

True

In [5]:
# a JSON object
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [6]:
import json

In [8]:
#load json data
data = json.loads(json_obj)

In [9]:
data

{u'clothes': None,
 u'diet': [{u'food': u'grass', u'fur': u'Brown', u'zoo_animal': u'Gazelle'}],
 u'food': [u'Meat', u'Veggies', u'Honey'],
 u'fur': u'Golden',
 u'zoo_animal': u'Lion'}

In [10]:
json.dumps(data) #convert back to JSON object

'{"food": ["Meat", "Veggies", "Honey"], "zoo_animal": "Lion", "fur": "Golden", "diet": [{"food": "grass", "zoo_animal": "Gazelle", "fur": "Brown"}], "clothes": null}'

In [16]:
# turn json object into dataframe
dframe = DataFrame(data['diet'])

In [17]:
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle

In [18]:
dframe2 = DataFrame(data['food'])

In [22]:
dframe2.column.names('food')

AttributeError: 'DataFrame' object has no attribute 'column'