In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from pandas import read_html

In [3]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

import webbrowser
webbrowser.open(url)

True

In [8]:
#conda install beautiful-soup
#conda install html5lib

In [5]:
# grab data from web and turn into a list of dataframe objects

In [4]:
dframe_list = pd.read_html(url)

In [6]:
dframe = dframe_list[0]

In [7]:
dframe.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 21, 2018"
1,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
2,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
3,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
4,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","December 5, 2017"

In [10]:
dframe.describe() #read_html grabs all the rows in the table

               CERT
count    555.000000
mean   31702.318919
std    16401.784351
min       91.000000
25%    20315.000000
50%    32185.000000
75%    35364.000000
max    58701.000000

In [11]:
 #column names
    dframe.columns.values

array([u'Bank Name', u'City', u'ST', u'CERT', u'Acquiring Institution',
       u'Closing Date', u'Updated Date'], dtype=object)