In [1]:
import pandas as pd

In [2]:
#conda install xlrd
#conda install openyxl

In [3]:
#name an object
xlsfile =pd.ExcelFile('Lec_28_test.xlsx')

In [4]:
xlsfile

In [5]:
dframe =xlsfile.parse('Sheet1')

In [6]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

In [7]:
# or can do
dframe = pd.read_excel(xlsfile,'Sheet1')

In [8]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

In [11]:
#passing sheets with the ExcelFile class as a context manager:
with pd.ExcelFile('C:\Users\Bingxin\Anaconda2\Lec_28_test.xlsx') as xls:
    df1 = pd.read_excel(xls,'Sheet1')
    df2 = pd.read_excel(xls,'Sheet2')

In [13]:
df1

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

In [ ]:
#documentation
# http://pandas.pydata.org/pandas-docs/version/0.17.1/io.html#io-excel-reader