In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
# Start with what do I want to know

In [3]:

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

In [4]:
dframe = unpivot(tm.makeTimeDataFrame())

In [5]:
dframe
# date has three repeating values
# variable has 4 repeating values
# value is just random numbers

         date variable     value
0  2000-01-03        A  0.599130
1  2000-01-04        A -0.135087
2  2000-01-05        A -0.518330
3  2000-01-03        B -0.354404
4  2000-01-04        B -0.736396
5  2000-01-05        B -0.080987
6  2000-01-03        C  0.056168
7  2000-01-04        C  1.714771
8  2000-01-05        C  0.517276
9  2000-01-03        D -0.042202
10 2000-01-04        D  0.296511
11 2000-01-05        D  0.632105

In [8]:
# variable values for their particular date
dframe_piv = dframe.pivot('date','variable','value')

In [9]:
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.599130 -0.354404  0.056168 -0.042202
2000-01-04 -0.135087 -0.736396  1.714771  0.296511
2000-01-05 -0.518330 -0.080987  0.517276  0.632105