### List

In [1]:
# List
cities = ['NY','LA','SF']

In [2]:
# retrieve element by index
cities[0]

'NY'

In [7]:
cities[-1]

'SF'

In [8]:
# append items to a list
cities.append('Chicago')

In [9]:
cities

['NY', 'LA', 'SF', 'Chicago']

In [10]:
# numeric list
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
# a range from a to b. 
# this goes from 3 to 7, since index starts at 0
range(3,8)

[3, 4, 5, 6, 7]

In [12]:
# fix step size
range(0,20,2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [15]:
# list don't need to have the same dtype
random_list = ['NYC',12,12.345,[1,2,3]]

In [16]:
random_list

['NYC', 12, 12.345, [1, 2, 3]]

In [17]:
# length
len(random_list)

4

### Basic Calculation

In [18]:
4**2

16

In [19]:
5/6

0

In [20]:
from __future__ import division

In [21]:
5/6

0.8333333333333334

In [22]:
5.0/6

0.8333333333333334

In [23]:
float(5)/6

0.8333333333333334

In [24]:
import math

In [25]:
math.sqrt(4)

2.0

In [26]:
from math import sqrt

In [27]:
sqrt(36)

6.0

In [28]:
volume = 10

In [29]:
volume

10

In [30]:
'hello world'

'hello world'

In [31]:
"hello world "

'hello world '

In [32]:
"she said 'hello'"

"she said 'hello'"

In [33]:
print 'my volume is' , volume

my volume is 10

In [34]:
'hello'+ ' '+'world'

'hello world'

###  Iteration, blocks

Iterate over elements in a list

In [35]:
cities = ['NY','LA','SF']

In [36]:
for city in cities: 
    print city

NY
LA
SF

In [37]:
city

'SF'

In [38]:
for city in cities:
    phrase = 'I love '+ city
    print phrase

I love NY
I love LA
I love SF

In [41]:
for n in range(1,10):
    print 'The inverse of',n,'is',1.0/n

The inverse of 1 is 1.0
The inverse of 2 is 0.5
The inverse of 3 is 0.333333333333
The inverse of 4 is 0.25
The inverse of 5 is 0.2
The inverse of 6 is 0.166666666667
The inverse of 7 is 0.142857142857
The inverse of 8 is 0.125
The inverse of 9 is 0.111111111111

In [42]:
# iterate through every letter in a string.
for letter in 'Hello':
    print letter

H
e
l
l
o

In [43]:
# slice. through index
cities[0]

'NY'

In [44]:
city = cities[0]

In [46]:
for city in cities:
    if city =='NY':
        print 'Party'
    elif city =='LA':
        print "It's not here"
    else:
        print 'where am i?'

Party
It's not here
where am i?

### Tuples

In [47]:
t = (1,2,3)

In [48]:
t

(1, 2, 3)

In [49]:
# cannot change tuple
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [50]:
my_list = [1,2,3]

In [51]:
my_dict = {'Joe':22,'Mike':24}

In [52]:
my_dict

{'Joe': 22, 'Mike': 24}

In [53]:
my_dict['Joe']

22

In [54]:
len(my_dict)

2

In [55]:
def adder(x,y):
    """ this function will add x and y together """
    answer = x+y
    
    return answer

In [56]:
adder(5,10)

15